# macOS
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
.venv/
build/
dist/
eggs/
*.egg-info/
pip-wheel-metadata/
*.egg
*.whl

# Test and coverage results
.tox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
pytest_cache/
.hypothesis/